*{
    margin:0;
    padding: 0;
}

body{
    color:#ffffff;
}
.main-div{
    border:solid 2px black;
    width:35%;
    height:600px;
    margin: 40px 0px 0px 450px;
    border-radius: 25px;
}

.chat-header { 
    display: block;    
}

.dropdown{
    float: left;
    margin: 10px 0 0 10px;
}
.chat-header h5{
    float: left;
    text-align: center;
    margin: 33px 0 0 130px;
}