*{
    margin:0;
    padding: 0;
}

body{
    color:#ffffff;
}

.grid-class{
    border-radius: 15px;
    box-shadow: 2px 2px 3px 5px rgba(0,0,0,.075);    
}

.grid-class-sign{
    border:0.5px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 5px rgba(0,0,0,.075);    
}
.support-image{
    height: 10%;
    width: 15%;    
    border-radius: 50%;
    float: left;
}

.chat-header { 
    display: block;    
}

.chat-container{
    border: navy;
}

.chat-header h5{
    float: left;
    text-align: center;
    margin: 33px 0 0 70px;
}

.header-dropdown{
    border: none;
}

.class-paragraph{
    padding: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: unset;
    margin: 0px;
    

}

.common{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
}


/* Newwwwwwwwwwwwwwwwwwwwwwww */

#grid-class{
    width: 45%;
    padding-Left: 0;
     padding-Right: 0;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 5px rgba(0,0,0,.075);   
}

#header-row2-col1{
    padding:0;
    vertical-Align:middle;
    padding-Left:35px;
}

#header-row2-col2{
    text-Align: center;
    font-Style:bold;
    vertical-Align:middle; 
}

#header-row2-col3{
    padding:0;
    vertical-Align:middle;
}

#header-row3-col1{
    padding-Bottom:15px
}

#header-row3-col1 h5{
    float:left;
     padding-Left:10px;
}

#header-row3-col2{
    padding: 0 ;
}

#header-row3-col2 button{
border: none;
border-Radius: 50%;
}

#header-row3-col3{
    padding: 0px ;
}

#header-row3-col3 button{
    border: none;
    border-Radius: 50%;
    }